.mobile-scroll {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}

.scroll-full-screen-wrapper {
  width: 50%;
}

@media screen and (max-width: 1279px) {
  .scroll-full-screen-wrapper {
    width: 100%;
  }
}

.scroll-full-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mobile-mockup-wrapper {
  width: 50%;
}

.mobile-mockup {
  position: sticky;
  top: 150px;
  transform: translateX(30%);
  width: 350px;
  height: 600px;
  border-radius: 46px;
  padding: 16px 14px;
  max-height: 100vh;
  box-shadow: var(--mobile-box-shadow);
}

.mobile-mockup-screen {
  background-color: var(--mobile-bg);
  overflow: hidden;
  height: 100%;
  border-radius: inherit;
}

.mobile-screen-image {
  height: 100%;
  border-radius: 15px;
  /* object-fit: contain; */
}

.screen-heading {
  font-size: 105px;
  font-weight: 700;
  line-height: 105px;
}
.screen-text {
  opacity: 0;
  padding-bottom: 80px;
}

.text-visible {
  opacity: 1;
  transition: 0.75s;
}

.screen-description {
  font-size: 20px;
  font-weight: 600;
  margin-top: 52px;
}

@media all and (max-width: 1279px) {
  .mobile-scroll {
    padding-bottom: 30px;
  }
  .mobile-mockup {
    width: 272px;
    height: 480px;
    transform: translateX(10%);
  }

  .screen-heading {
    font-size: 70px;
    line-height: 70px;
  }

  .screen-description {
    font-size: 18px;
    margin-top: 44px;
  }
}

@media all and (max-width: 767px) {
  .screen-heading {
    font-size: 50px;
    line-height: 50px;
  }

  .screen-full-screen-wrapper {
    width: 100%;
  }
}

.max-width-class {
  max-width: 70%;
  margin: auto;
}

.flex-box {
  display: flex;
}

.absolute-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.photo-section {
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
}

.photo-section-child {
  padding: 240px 0px 180px;
}

.photo-section-heading {
  font-size: 100px;
  line-height: 96px;
  font-weight: 700;
  max-width: 700px;
}

.photo-section-subheading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  max-width: 630px;
  margin-top: 16px;
}

.photo-section-description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  max-width: 630px;
  margin-top: 200px;
  margin-bottom: 40px;
}

@media all and (max-width: 1279px) {
  .max-width {
    max-width: 80%;
  }

  .photo-section-heading {
    max-width: 670px;
  }

  .photo-section-child {
    padding: 100px 0px;
  }
}

@media all and (max-width: 767px) {
  .max-width {
    max-width: 90%;
  }
  .non-mobile {
    display: none !important;
  }
  .photo-section-heading {
    font-size: 65px;
    line-height: 56px;
  }

  .photo-section-subheading {
    font-size: 18px;
    line-height: 24px;
    margin-top: 26px;
  }

  .photo-section-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 500px;
  }
  .photo-section-child {
    padding: 195px 0px 90px;
  }
}

@media all and (min-width: 766px) {
  .only-mobile {
    display: none !important;
  }
}

@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

.scale-up-right {
  -webkit-animation: scale-up-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
   * Generated by Animista on 2022-8-1 4:30:31
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation scale-up-right
   * ----------------------------------------
   */
@-webkit-keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}
@keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}
